name: Rust

on:
  push:
    branches: [main]
    tags:
      - "*"
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  build-with-pgo: true

jobs:
  build-and-test:
    strategy:
      matrix:
        include:
          # Common Linux Targets
          - { os: ubuntu-latest, target: x86_64-unknown-linux-gnu, use-cross: false, use-pgo: true }
          - { os: ubuntu-latest, target: i686-unknown-linux-gnu, use-cross: false, use-pgo: true }
          - { os: ubuntu-latest, target: aarch64-unknown-linux-gnu, use-cross: true, use-pgo: true }
          - { os: ubuntu-latest, target: armv7-unknown-linux-gnueabihf, use-cross: true, use-pgo: true }
          # Common Windows Targets
          - { os: windows-latest, target: x86_64-pc-windows-msvc, use-cross: false, use-pgo: true }
          - { os: windows-latest, target: i686-pc-windows-msvc, use-cross: false, use-pgo: true }
          # - { os: windows-latest, target: aarch64-pc-windows-msvc, use-cross: true }
          # Common Apple Targets
          - { os: macos-15-intel, target: x86_64-apple-darwin, use-cross: false, use-pgo: true }
          - { os: macos-latest, target: aarch64-apple-darwin, use-cross: false, use-pgo: true }
          # Big Endian (64-bit)
          - { os: ubuntu-latest, target: powerpc64-unknown-linux-gnu, use-cross: true, use-pgo: true }
          # Big Endian (32-bit)
          - { os: ubuntu-latest, target: powerpc-unknown-linux-gnu, use-cross: true, use-pgo: true }

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Build C Libraries and Run Tests
        uses: Reloaded-Project/devops-rust-lightweight-binary@v1
        with:
          rust-project-path: src/lossless-transform-utils
          workspace-path: src
          artifact-prefix: C-Library
          upload-symbols-separately: false
          target: ${{ matrix.target }}
          use-pgo: ${{ matrix.use-pgo && env.build-with-pgo }}
          pgo-benchmark-name: all
          pgo-project-path: src/lossless-transform-utils
          use-cross: ${{ matrix.use-cross }}
          features: "c-exports,bench,nightly"
          build-library: true
          run-tests-and-coverage: true
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          install-binstall: true

      # Semver checks disabled for now because i686 targets were broken last version.
      # Note: The GitHub Runner Images will contain an up to date Rust Stable Toolchain
      #       thus as per recommendation of cargo-semver-checks, we're using stable here.
      # - name: Run cargo-semver-checks
      # i686 was broken in last build
      #  if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
      #  shell: bash
      #  run: |
      #    SEARCH_RESULT=$(cargo search "^lossless-transform-utils$" --limit 1)
      #    if echo "$SEARCH_RESULT" | grep -q "^lossless-transform-utils "; then
      #        # Run semver checks on stable, because nightly sometimes gets borked in cargo-semver-checks.
      #        rustup +stable target add ${{ matrix.target }}
      # Note: binstall is available after devops-rust-test-and-coverage@v1 call
      #        cargo +stable binstall cargo-semver-checks
      #        cargo +stable semver-checks --target ${{ matrix.target }}
      #    else
      #        echo "No previous version found on crates.io. Skipping semver checks."
      #    fi

      - name: Check documentation is valid
        if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
        working-directory: src
        env:
          RUSTDOCFLAGS: "-D warnings"
        run: cargo doc --workspace --all-features --document-private-items --target ${{ matrix.target }}

      - name: Run linter
        if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
        working-directory: src
        run: cargo clippy --workspace --all-features --target ${{ matrix.target }} -- -D warnings

      - name: Run formatter check
        uses: actions-rust-lang/rustfmt@v1
        if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
        with:
          manifest-path: src/Cargo.toml

  # Configurations not recommended for use; or not fully tested,
  # but which exist within the codebase. We want to make sure we can build
  # with all configs.
  test-non-shipped-configurations:
    strategy:
      matrix:
        include:
          # AVX512 and AVX2
          - { os: ubuntu-latest, target: x86_64-unknown-linux-gnu, features: "estimator-avx2,bench,nightly" }
          - { os: ubuntu-latest, target: x86_64-unknown-linux-gnu, features: "estimator-avx512,bench,nightly" }
          # no 'nightly' feature
          - { os: ubuntu-latest, target: x86_64-unknown-linux-gnu, features: "bench" }

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Test SIMD Implementation
        uses: Reloaded-Project/devops-rust-test-and-coverage@v1
        with:
          rust-project-path: src
          target: ${{ matrix.target }}
          features: ${{ matrix.features }}
          rust-toolchain: "nightly"
          codecov-token: ${{ secrets.CODECOV_TOKEN }}

  build-c-headers:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Generate C++ bindings
        uses: Reloaded-Project/devops-rust-cbindgen@v1
        with:
          rust-project-path: src/lossless-transform-utils
          config-file: ../../.github/cbindgen_cpp.toml
          output-header-file: bindings_cpp.hpp
          use-cache: "true"

      - name: Generate C bindings
        uses: Reloaded-Project/devops-rust-cbindgen@v1
        with:
          rust-project-path: src/lossless-transform-utils
          config-file: ../../.github/cbindgen_c.toml
          output-header-file: bindings_c.h
          use-cache: "false" # Cache inherited from above call.

  publish-crate:
    permissions:
      contents: write

    needs: [build-and-test, build-c-headers, test-non-shipped-configurations]
    # Publish only on tags
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Publish Rust Crate and Artifacts
        uses: Reloaded-Project/devops-publish-action@v3
        with:
          rust-crates-io-token: ${{ secrets.CRATES_IO_TOKEN }}
          rust-cargo-project-paths: |
            src/lossless-transform-utils
          compression-tool: 7z
          artifact-groups-file: .github/artifact-groups.yml
          changelog-enabled: "true"
          changelog-template: .github/changelog.hbs
          changelog-is-release: ${{ startsWith(github.ref, 'refs/tags/') }}
          changelog-release-tag: ${{ github.ref_name }}
          changelog-override-starting-version: "true"
          changelog-hide-credit: "true"
